export EDITOR=nano
export VISUAL=geany
export BROWSER=exo-open
export GDK_BACKEND=wayland
export CLUTTER_BACKEND=wayland

## Virtualenvwrapper
export PROJECT_HOME=$HOME/projects
export WORKON_HOME=$HOME/.virtualenvs
source /usr/bin/virtualenvwrapper.sh
